.section {
    background-color: #3E8DE3;
    height: 50vh;
    padding: 64px 32px;
}

.intro {
    background-color: #3E8DE3;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
    padding: 12px;
}

.intro h2 {
    color: #ffff;
    font-size: 32px;
    font-weight: 700;
}

.intro p {
    margin-top: 12px;
    color: #fff;
    align-self: center;
    width: 60%;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .section {
        margin-bottom: 144px;
        height: 70vh;
    }
    .intro {
        padding-bottom: 144px;
    }
    .intro p {
        width: 80%;
    }
}
